.modal-content {
    background-color: rgb(35, 35, 47)

}

.btn btn-primary {
    background-color:#676EFF;
    border-radius: 8px;
    color: white;
    padding: 10px 20px;
    font-family: vortice-concept, sans-serif;
    font-weight: bold;

}
#confirm {
    background-color:#676EFF;
    border-radius: 8px;
    color: white;
    padding: 10px 15px;
    font-family: vortice-concept, sans-serif;
    font-weight: bold;
    font-size: 14px;
    width: 70%;
}
.NietVerwijderen{
    background-color:#676EFF;
    border-radius: 8px;
    color: white;
    padding: 10px 20px;
    font-family: vortice-concept, sans-serif;
    font-weight: bold;
    font-size: 14px;

}
/*#afrekenen {*/
/*    display: flex;*/
/*    position: fixed;*/
/*    left: 1100px;*/
/*    top: 2px*/
/*}*/


.CartTable{
    display: inline-block;
    position: absolute;
    left: 0;
    margin-right: auto;
    margin-left: 45px;
    width: 500px;
    text-align: center;
    background-color: rgb(35, 35, 47);
    border-radius: 8px;
    border:solid antiquewhite;
    color: antiquewhite;
}

.CartOverview{
    display: inline-block;
    position: absolute;
    right: 0;
    margin-right: 45px;
    margin-left: auto;
    width: 500px;
    text-align: center;
    background-color: rgb(35, 35, 47);
    border-radius: 8px;
    border:solid antiquewhite;
    color: antiquewhite;
}

.CartOverviewHeader{
    display: inline-block;
    position: absolute;
    margin-right: 45px;
    margin-left: auto;
    right: 325px;
    top: 200px;
}

.CartImageStyle {
    width: 150px;
    height: 150px;
    margin-left: 10px;
    border-radius: 8px;
}
.CartOrderButton{
    background-color:#676EFF;
    border-radius: 8px;
    color: white;
    padding: 10px 20px;
    font-family: vortice-concept, sans-serif;
    font-weight: bold;
    width: 200px;
    height: 50px;
    margin-bottom: 15px;
    margin-top: 20px;

}

.fa fa-bank{
    width: 50%;
    float: left;
}
.banken{
    width: 50%;
    float: left;
}

#TotaalPrijsVerwerk{
    float: left
}

.checkBox{

    width: 50%;
}

.gegevens {
    background-color: rgb(35, 35, 47) ;
    border-radius: 8px;
    border:solid antiquewhite;
    color: antiquewhite;
    margin-bottom: 10px;
    width: 95.5%;
}